body{
	/*background: url(/static/img/linbox-bg.png) ;
	z-index: -1;*/
}
.chart {	
	font-family: 'Arial';
	font-size: 13px;
	color: #000;
}
.chart > .axis path,
.chart > .axis line {
	fill: none;
	stroke: #eee;
	stroke-width:2;
	shape-rendering: crispEdges;
}
.chart > .axis .tick line {	
	fill: none;
	stroke: #999;
	stroke-width:2;
}
.chart > path.ideal {
	 stroke: #000;
	 stroke-width:2;
	 stroke-linecap:round;
}
.chart > path.actual {
	 /*stroke: #91E500;*/
	 stroke: #91E500;
	 stroke-width:2;
	 stroke-linecap:round;
	 fill: none;
	 /*fill: rgba(0,0,0,0.1);*/
}
.chart > .grid .tick {
    stroke: #eee;
    opacity: 0.5;
}

/* For aesthetics only */
				
body {
	margin: 40px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.intro h1 {
	font: 200 1.7em Segoe UI, "Segoe UI Light", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: 200;
  color: #0000FF;
}
.intro p {
	max-width: 600px;
}

.label{
	color: green;
}
.prjhealth{
	height: 70px; width: 100%;	
}
/*.hgreen{
	background-color: #07a331;
}
.hred{
	background: #ee0c0c;
}
.hamber{
	background-color: #ffbf00;
}*/
/*Pie Chart*/
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

/* ECG css */
svg.clsSvg{
    /*background-color: black;*/
    width: 200px;
}
path {
    stroke: orange;
    fill: none;
    stroke-width: 1;
}
.path1 {
  stroke-dasharray: 170, 180;
  animation: pulse 2s infinite linear;
}

.hgreen{
	stroke: #07a331;
}
.hred{
	stroke: #ee0c0c;
}
.hamber{
	stroke: #ffbf00;
}

@keyframes pulse {
  0% {
    stroke-dashoffset: 350;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.path2 {
  stroke-dasharray: 170, 180;
  animation: pulse2 2s infinite linear;
}

@keyframes pulse2 {
  0% {
    stroke-dashoffset: 525;
  }
  100% {
    stroke-dashoffset: 175;
  }
}
/* END - ECG css */
